# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate

# Derived data
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
